<h1>CD Organizer</h1>

#if ($cds)
  <ul>
    #foreach ($cd in $cds)
      <li><a href="/edit/$cd.getId()">$cd.getTitle()</a></li>
    #end
  </ul>
#else
  <p>No CDs!</p>
#end

<p>Add a new CD:</p>

<form action="/cds" method="post">
  <label for="title">CD Title</label>
  <input id="title" name="title" type="text">

  <button type="submit" class="btn btn-default">Add CD</button>
</form>

<br>
<a href="/artists">See list of artists</a>
